<div class="tb-container tb-expense-form">
  <form [formGroup]="form" (ngSubmit)="createExpense()">
    <div class="tb-field-container row">
      <ion-input errorText="This field is required" required label="Expense" formControlName="title" class="tb-custom-field" label-placement="floating" fill="outline" type="text"
        placeholder="Type the expense name"></ion-input>
    </div>

    <div class="row align-center gap-16">

      <div class="tb-field-container col">
        <ion-input formControlName="amount" type="number" label="Amount" class="tb-custom-field" label-placement="floating" fill="outline">
          <div slot="start">$</div>
        </ion-input>
      </div>

      <div class="tb-field-container col">
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" locale="en-ES" formControlName="expense_date"
              id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </div>
    <div class="tb-field-container">
      <ion-select errorText="This field is required" [disabled]="loadingData" formControlName="category_id" label="Category" class="tb-custom-field" label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let category of categories"
          [value]="category.category_id">{{category.category_name}}</ion-select-option>
      </ion-select>
    </div>

    <div class="row tb-field-container align-center">
      <div class="col d-flex gap-8">
        <ion-toggle [checked]="form.value.is_shared" (ionChange)=" changeCounterStatus(form.value.is_shared)" formControlName="is_shared"></ion-toggle>
        <ion-label>Shared</ion-label>
      </div>
      <div class="col">
        <ion-input [disabled]="!form.value.is_shared" [counter]="true" maxlength="20" formControlName="split_amount" type="number" label="Nº People" class="tb-custom-field" label-placement="floating"
          fill="outline"></ion-input>
      </div>

    </div>
    <div class="tb-field-container">
      <ion-textarea formControlName="notes" placeholder="Add notes" label="Notes" class="tb-custom-field tb-textarea" label-placement="floating"
        fill="outline"></ion-textarea>
    </div>
    <ion-button [disabled]="loadingSubmit" class="w-100 tb-primary-button" type="submit">Create</ion-button>
  </form>
</div>