@if (loading()) {
  <div class="tb-loading sm">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
} @else if (categories()?.length) {
  <div class="d-flex row-wrap">
    @for (ctg of categories(); track ctg.category_id) {
      <div class="tb-card category-card align-center">
        <div class="category-icon" [ngClass]="ctg.color_key">
          <ion-icon [ngClass]="ctg.color_key" [name]="ctg.icon"></ion-icon>
        </div>
        <div class="category-info">
          <p class="tb-text">{{ ctg.category_name }}</p>
          <div class="d-flex align-center category-budget-overview" [ngClass]="getSavingsClass(ctg.planned, ctg.spent)">
            @if (isMoreThanZero(ctg.planned - ctg.spent)) {
              <ion-icon name="arrow-up-outline"></ion-icon>
            } @else {
              <ion-icon name="arrow-down-outline"></ion-icon>
            }
            <p class="text-12 budget-savings-overview">{{ (ctg.planned - ctg.spent) | currency:'$' }}
            </p>
          </div>
        </div>
      </div>
    }
  </div>
} @else {
  <p>No categories yet.</p>
}

