@if (expenses && expenses.length > 0) {
  <ion-list class="expenses-list">
    @for (expense of expenses; track expense.id) {
      <ion-item class="expenses-list-item row justify-between">
        <span [class]="'expense-category-square' + ' ' + expense.categories.color_key"></span>
        <div class="expense-title-section col">
          <p>{{ expense.title }}</p>
          <p class="tb-color-subtitle text-12 m-0">{{ expense.expense_date | date }}</p>
        </div>
        <div class="expense-price-section col text-align-right">
          <p class="text-14">{{ expense.amount | currency:'USD' }}</p>
          @if (expense.is_shared) {
            <p class="tb-color-subtitle text-12">{{ splitAmount(expense.amount,
            expense.split_amount) | currency:'USD' }} / each</p>
          }
        </div>
      </ion-item>
    }
  </ion-list>
}

@if (expenses && expenses.length === 0) {
  <div>
    <ion-label>No expenses yet.</ion-label>
  </div>
}

@if (hasError) {
  <ion-label class="text-align-center text-color-error">Something went wrong.</ion-label>
}