<ion-list class="expenses-list" *ngIf="expenses && expenses.length > 0">
  <ion-item class="expenses-list-item row justify-between" *ngFor="let expense of expenses">

    <span [class]="'expense-category-square' + ' ' + expense.categories.color_key"></span>
    <div class="expense-title-section col">
      <p>{{ expense.title }}</p>
      <p class="tb-color-subtitle text-12 m-0">{{ expense.expense_date | date }}</p>
    </div>

    <div class="expense-price-section col text-align-right">
      <p class="text-14">{{ expense.amount | currency:'USD' }}</p>
      <p *ngIf="expense.is_shared" class="tb-color-subtitle text-12">{{ splitAmount(expense.amount,
        expense.split_amount) | currency:'USD' }} / each</p>
    </div>
  </ion-item>
</ion-list>

<div *ngIf="expenses && expenses.length == 0">
  <ion-label>No expenses yet.</ion-label>
</div>

<ng-template *ngIf="hasError">
  <ion-label class="text-align-center text-color-error">Something went wrong.</ion-label>
</ng-template>