// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --ion-text-color: #1C1C1C;
    --ion-text-subtitle-color: #6E6E6E;
    --ion-border-color: #D9D9D9;
    --ion-text-placeholder-color: #B3B3B3;

    --tb-primary: #A78BFA;
    --tb-secondary: #FFF25D;
    --tb-mascot: #FAAD29;
    --tb-success: #22C55E;
    --tb-error: #EF4444;

    --ion-color-primary: var(--tb-primary);
    --ion-color-secondary: var(--tb-secondary);
    --ion-color-success: var(--tb-success);
    --ion-color-error: var(--tb-error);
}