.tb-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    &__header {
        margin-bottom: 32px;

        h1 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 4px;
        }

        p {
            color: var(--ion-color-medium);
            font-size: 16px;
        }
    }

    .tb-field-container {
        margin-bottom: 16px;
    }

    ion-button {
        margin-top: 24px;
    }
}