<div class="tb-container" [class.no-bg]="currentStep !== 1">
  <div class="tb-steps">
    <span [class.active]="currentStep === 1"></span>
    <span [class.active]="currentStep === 2"></span>
    <span [class.active]="currentStep === 3"></span>
  </div>

  @if (currentStep === 1) {
    <app-step-trip-info [data]="tripInfo" (nextAction)="next($event)" (cancelAction)="cancel()">
    </app-step-trip-info>
  }

  @if (currentStep === 2) {
    <app-step-categories [data]="selectedCategories" (next)="next($event)" (prev)="previous()">
    </app-step-categories>
  }

  @if (currentStep === 3) {
    <app-step-budget [data]="budgetSetup" [selectedCategories]="selectedCategories"
      [loadingSubmit]="loadingSubmit" (next)="next($event)" (prev)="previous()">
    </app-step-budget>
  }
</div>