<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="headerService.showBackButton()">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>{{ headerService.title() }}</ion-title>

      <ion-buttons slot="end" *ngIf="authService.loggedIn()">
        <ion-button (click)="authService.signOut()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>