@import '../../../theme/variables.scss';

.tb-trip-card {
    margin: 16px 0;
    gap: 24px;
    padding: 16px;
    max-height: 200px;

    .trip-picture {
        
        ion-img::part(image) {
            width: 150px;
            height: 150px;
            border-radius: var(--tb-border-radius-xl);
            object-fit: cover;
        }
    }

    .budget-overview {
        gap: 16px;

        .footer-label {
            gap: 32px;
            display: flex;
            align-items: baseline;
            .tb-cost-container {
                display: flex;
                flex-direction: column;
                font-size: 14px;
            }
        }
    }
}