<div class="tb-container">
	<h1>Viagens</h1>
	<ion-card *ngFor="let trip of tripsList" (click)="openTrip(trip)">
		<ion-card-header>
			<ion-card-title>{{ trip.name }}</ion-card-title>
			<ion-card-subtitle>{{ trip.start_date }} - {{ trip.end_date }}</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<p>{{ (trip.budget | currency:'USD') || "Not estimated" }}</p>
		</ion-card-content>
	</ion-card>

	<ion-fab horizontal="end" vertical="bottom" slot="fixed">
		<ion-fab-button (click)="addTrip()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</div>