<div class="tb-container">
	<div class="tb-loading lg" *ngIf="loading; else loaded">
		<ion-spinner name="bubbles"></ion-spinner>
	</div>

	<ng-template #loaded>
		@if (tripsList && tripsList.length > 0) {
		<div class="tb-card radius-md tb-clickable-card tb-trip-card" *ngFor="let trip of tripsList"
			(click)="openTrip(trip)">
			<div class="trip-picture w-50">
				<ion-img [src]="trip.picture"></ion-img>
			</div>

			<div class="budget-overview w-50">
				<div>
					<p class="text-bold">{{ trip.location }}</p>
					<p class="tb-color-subtitle">{{ trip.name }}</p>
					
					@if (trip.start_date) {
					<p class="tb-color-subtitle text-12">{{ (trip.start_date | date: 'MMMM yyyy')}} </p>
					}
				</div>
				<div class="footer-label">
					<div class="tb-cost-container">
						<span class="tb-color-subtitle">Planned</span>
						<span>{{ (trip.total_budget | currency:'$') }}</span>
					</div>
					
					<div class="tb-cost-container">
						<span class="tb-color-subtitle">Spent</span>
						<span class="text-bold tb-color-primary">{{ (trip.total_spent | currency:'$') }}</span>
					</div>
				</div>
			</div>
		</div>

		} @else {
		<app-empty-state icon="airplane-outline" title="No trips yet!" message="Start planning your next adventure."
			buttonLabel="Create a trip" (buttonClick)="createTrip()">
		</app-empty-state>
		}
	</ng-template>
</div>