.tb-trip-card {
    margin: 16px 0;
    flex-direction: column;
    padding: 8px 16px;

    .budget-overview {
        display: flex;
        gap: 8px;
        
        .view-total {
            border-radius: 4px;
            width: 50%;
            padding: 8px;
            color: #fff;
            text-align: center;
            margin-top: 8px;
            
            &.side {
                &__budget {
                    background-color: var(--tb-primary);
                }
                &__spent {
                    background-color: var(--tb-secondary);
                }
            }
        }
    }
}