<div class="tb-container tb-trip-form">
	<div class="tb-steps">
		<span class="active"></span>
		<span></span>
		<span></span>
	</div>

	<h1>Create Trip</h1> <!-- @TODO: i18n -->
	<form [formGroup]="form" (ngSubmit)="createTrip()">
		<div class="tb-field-container">
			<ion-input formControlName="name" type="text" label="Name" class="tb-custom-field"
				label-placement="floating" fill="outline" placeholder="Type the trip name"></ion-input>
		</div>
		<div class="row align-center gap-16">
			<div class="tb-field-container col">
				<ion-label>Start date</ion-label>
				<ion-datetime-button datetime="startdate"></ion-datetime-button>

				<ion-modal [keepContentsMounted]="true">
					<ng-template>
						<ion-datetime presentation="date" locale="en-ES" formControlName="start_date"
							id="startdate"></ion-datetime>
					</ng-template>
				</ion-modal>
			</div>

			<div class="tb-field-container col">
				<ion-label>End date</ion-label>
				<ion-datetime-button datetime="enddate"></ion-datetime-button>

				<ion-modal [keepContentsMounted]="true">
					<ng-template>
						<ion-datetime presentation="date" locale="en-ES" formControlName="end_date"
							id="enddate"></ion-datetime>
					</ng-template>
				</ion-modal>
			</div>
		</div>

		<ion-button [disabled]="loadingSubmit" class="w-100 tb-primary-button" type="submit">Next</ion-button>
	</form>
</div>