<div class="tb-trip-form">
	<h1>Create Trip</h1> <!-- @TODO: i18n -->
	<form [formGroup]="form">
		<div class="tb-field-container">
			<ion-input formControlName="name" type="text" label="Name" class="tb-custom-field"
				label-placement="floating" fill="outline" placeholder="Type the trip name"></ion-input>
		</div>
		<div class="row align-center gap-16">
			<div class="tb-field-container col">
				<ion-label>Start date</ion-label>
				<ion-datetime-button datetime="startdate"></ion-datetime-button>

				<ion-modal [keepContentsMounted]="true">
					<ng-template>
						<ion-datetime presentation="date" locale="en-US" formControlName="start_date" id="startdate"
							(ionChange)="onStartDateChange($event)">
						</ion-datetime>
					</ng-template>
				</ion-modal>
			</div>

			<div class="tb-field-container col">
				<ion-label>End date</ion-label>
				<ion-datetime-button datetime="enddate"></ion-datetime-button>

				<ion-modal [keepContentsMounted]="true">
					<ng-template>
						<ion-datetime presentation="date" locale="en-US" formControlName="end_date" id="enddate"
							[min]="minEndDate">
						</ion-datetime>
					</ng-template>
				</ion-modal>
			</div>
		</div>

	</form>
</div>

<div class="tb-footer">
	<ion-button fill="clear" class="w-100" (click)="cancel.emit()">
		Cancel
	</ion-button>
	<ion-button [disabled]="form.invalid" class="w-100 tb-primary-button" (click)="submit()">Next</ion-button>
</div>