<div class="tb-trip-details tb-container">

  <h1>{{ trip.name }}</h1>
  <h2>Detalhes da viagem</h2>

  <div class="trip-budget-overview tb-card d-flex justify-between align-center">

    <div>
      <p class="tb-color-subtitle">Resumo</p>
      <p class="tb-text text-24">{{ trip.total_spent |
        currency:'BRL' }}</p>

      <p class="tb-text" [ngClass]="getSavingsClass(trip.total_budget, trip.total_spent)">
        <ng-container>
          <ion-icon *ngIf="isMoreThanZero(trip.total_budget - trip.total_spent)" name="arrow-up-outline"></ion-icon>
          <ion-icon *ngIf="!isMoreThanZero(trip.total_budget - trip.total_spent)" name="arrow-down-outline"></ion-icon>
        </ng-container>
        {{ trip.total_budget -
        trip.total_spent | currency:'BRL' }}
      </p>

    </div>
  </div>

  <h2>Categorias</h2>
  <div class="d-flex row-wrap">
    <div class="tb-card w-shadow category-card align-center" *ngFor="let ctg of categories" (click)="openCategory(ctg)">

      <div class="category-icon" [ngClass]="ctg.color_key">
        <ion-icon [ngClass]="ctg.color_key" [name]="ctg.icon"></ion-icon>
      </div>

      <div class="category-info">
        <p class="tb-text">{{ ctg.category_name }}</p>

        <div class="d-flex align-center category-budget-overview" [ngClass]="getSavingsClass(ctg.planned, ctg.spent)">

          <ng-container>
            <ion-icon *ngIf="isMoreThanZero(ctg.planned - ctg.spent)" name="arrow-up-outline"></ion-icon>
            <ion-icon *ngIf="!isMoreThanZero(ctg.planned - ctg.spent)" name="arrow-down-outline"></ion-icon>
          </ng-container>

          <p class="text-12">{{ ctg.spent | currency:'R$ ' }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2>Expenses</h2>
  <ion-list class="expenses-list" *ngIf="expenses.length > 0; else noExpenses">
    <ion-item class="row justify-between" *ngFor="let expense of expenses">

      <span [class]="'expense-category-square' + ' ' + expense.color_key"></span>
      <div class="expense-title-section col">
        <p>{{ expense.title }}</p>
        <p class="tb-color-subtitle text-12">{{ expense.date | date }}</p>
      </div>

      <div class="expense-price-section col text-align-right">
        <p class="text-14">{{ expense.amount | currency:'BRL ' }}</p>
        <p *ngIf="expense.is_shared" class="tb-color-subtitle text-12">{{ splitAmount(expense.amount, expense.split_amount) | currency:'BRL ' }} / each</p>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #noExpenses>
    <ion-label>No expenses yet.</ion-label>
  </ng-template>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addBudget()">
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addExpense()">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>