<div class="tb-trip-details tb-container">
  <h1>{{ trip.name }}</h1>

  <h2>Detalhes da viagem</h2>
  <ion-spinner *ngIf="loadingID"></ion-spinner>
  <app-trip-budget-overview *ngIf="!loadingID" [tripId]="tripId"></app-trip-budget-overview>


  <h2>Categorias</h2>
  <!--- @TODO: Add "No budgets yet"-->
  <ion-spinner *ngIf="loadingID"></ion-spinner>
  <app-budget-category-card *ngIf="!loadingID" [tripId]="tripId"></app-budget-category-card>

  <h2>Expenses</h2>
  <ion-spinner *ngIf="loadingID"></ion-spinner>
  <app-expenses-list *ngIf="!loadingID" [tripId]="tripId"></app-expenses-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addBudget()">
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addExpense()">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>