.tb-trip-details {

    // @TODO: USE THEME VARIABLES
    .trip-savings {
        color: green;
    }

    .trip-overbudget {
        color: red;
    }

    .category-card {
        width: calc(50% - 16px);
        margin: 8px;
        gap: 8px;

        ion-icon {
            font-size: 24px;
        }


        // @TODO: USE CONST:
        .category-icon {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;

            &.orange {
                background: #FFF3E8;

                ion-icon {
                    color: #FF9F43;
                }
            }

            &.blue {
                background: #e6edfa;

                ion-icon {
                    color: #4D8DFF;
                }
            }

            &.green {
                background: #ebfff5;

                ion-icon {
                    color: #22C55E;
                }
            }

            &.red {
                background: #f3d5d5;

                ion-icon {
                    color: #EF4444;
                }
            }

            &.purple {
                background: #ece8ff;

                ion-icon {
                    color: #8B5CF6;
                }
            }

            &.yellow {
                background: #FEFCE8;

                ion-icon {
                    color: #FACC15;
                }
            }
        }

        .category-info {

            .category-budget-overview {
                ion-icon {
                    width: 12px;
                    height: 12px;
                    padding-top: 4px;
                }
            }

            p {
                margin: 4px;
            }
        }
    }

    .expenses-list {
        .expense-category-square {
            width: 12px;
            height: 12px;
            border-radius: 4px;

            &.orange {
                background-color: #FF9F43;
            }

            &.blue {
                background-color: #4D8DFF;
            }

            &.green {
                background-color: #22C55E;
            }

            &.red {
                background-color: #EF4444;
            }

            &.purple {
                background-color: #8B5CF6;
            }

            &.yellow {
                background-color: #FACC15;
            }
        }
    }
}