<ion-spinner *ngIf="loadingID; else loaded"></ion-spinner>

<ng-template #loaded>
  <div class="tb-trip-details tb-container">
    <h2>Detalhes da viagem</h2>
    <app-trip-budget-overview [tripId]="tripId"></app-trip-budget-overview>

    <h2>Categorias</h2>
    <app-budget-category-card [tripId]="tripId"></app-budget-category-card>

    <h2>Expenses</h2>
    <app-expenses-list [tripId]="tripId"></app-expenses-list>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="addExpense()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ng-template>