<div class="trip-budget-overview tb-card">
  <div>
    <!-- @TODO: i18n -->
    <p class="tb-color-subtitle">Summary</p>
    @if (loading) {
      <ion-spinner name="bubbles"></ion-spinner>
    } @else {
      <p class="tb-text text-40 tb-color-primary text-bold">{{ trip.total_spent | currency:'USD' }} <span class="text-12 font-weight-400">spent</span></p>
      <p class="tb-text" [ngClass]="getSavingsClass(trip.total_budget, trip.total_spent)">
        @if (isMoreThanZero(trip.total_budget - trip.total_spent)) {
          <ion-icon name="arrow-up-outline"></ion-icon>
        } @else {
          <ion-icon name="arrow-down-outline"></ion-icon>
        }
        {{ trip.total_budget - trip.total_spent | currency:'USD' }}
        <span class="text-12">
          {{ isMoreThanZero(trip.total_budget - trip.total_spent) ? 'saved' : 'overspent' }}
        </span>
      </p>
    }
  </div>
</div>