<div class="trip-budget-overview tb-card">
  <div>
    <!-- @TODO: i18n -->
    <p class="tb-color-subtitle">Summary</p>
    <ion-spinner *ngIf="loading"></ion-spinner>

    <ng-container *ngIf="!loading">
      <p class="tb-text text-40 tb-color-primary text-bold">{{ trip.total_spent | currency:'USD' }} <span class="text-12 font-weight-400">spent</span></p>

      <p class="tb-text" [ngClass]="getSavingsClass(trip.total_budget, trip.total_spent)">
        <ng-container>
          <ion-icon *ngIf="isMoreThanZero(trip.total_budget - trip.total_spent)" name="arrow-up-outline"></ion-icon>
          <ion-icon *ngIf="!isMoreThanZero(trip.total_budget - trip.total_spent)" name="arrow-down-outline"></ion-icon>
        </ng-container>

        {{ trip.total_budget - trip.total_spent | currency:'USD' }}
        <span class="text-12">
          {{ isMoreThanZero(trip.total_budget - trip.total_spent) ? 'saved' : 'overspent' }}
        </span>
      </p>
    </ng-container>
  </div>
</div>